/*##################login page##################*/

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="text"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.exception-message {
    width: 500px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    font-size: 40px;
    color: red;
}

.status-message {
    margin-left: 40%;
    margin-right: 40%;
}

#logout {
    margin-right: 1%;
}

/*##################end login page##################*/

/*##################admin-user-profile##################*/
.data {
    margin: 2% auto;
    /*width: 100%;*/
    max-width: 1920px;
}

.table {
    border: 1px solid #ddd;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/*настройка кнопок, фон кнопки, цвет текста кнопки, рамка кнопки */
.btn-link {
    background-color: #343a40;
    color: #9a9d9a;
    border-color: #343a40;

}

/*псевдоклас :hover, отвечает за наведение мышки, навели мышку background-color(фон кнопки)
изменился, навели мышку color(цвет текста) исзменился*/
.btn-link:hover {
    text-decoration: none;
    background-color: #343a40;
    color: #cccecf;
    outline: 0 !important;
}

#focus1:hover {
    color: limegreen;
}

#focus2:hover {
    color: red;
}

/*псевдокласс :focus определяет стиль для элемента получающего фокус,
если я нажал кнопку, то кнопка в фокусе, определяет background-color(фон кнопки) в фокусе,
color(цвет текста) в фокусе*/
.btn-link:focus {
    text-decoration: none;
    background-color: #343a40;
    color: #cccecf;
    outline: 0 !important;
}

.notifying-message {
    width: 500px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    font-size: 30px;
    color: #000000;
}

.button-account {
    margin: 1% 25% 0 60%;

}

.content-container {
    margin: 3%;
}

.messages-forms-content {
    margin-right: 30%;
    margin-left: 30%;
}

.create-button {
    margin-top: 3px;
    margin-left: 66%;
}

.group-buttons {
    margin-top: 3px;
    margin-left: 58%;
}

.group-buttons1 {
    width: 32%;
    margin-top: 3px;
    float: right;
}

/*Owl Carousel properties*/

.full-width-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

.bank-advertising {
    position: relative;
}

.bank-advertising-picture {
    clip-path: polygon(0% 86%, 100% 100%, 100% 15%, 0% 28%);
    /*6.3% 79.5%,*/
}

.trapezoid {
    float: left;
    position: absolute;
    top: 28ex;
    left: 37px;
    /*bottom: 100px;*/
    perspective: 200px;
    display: inline-block;
    width: 400px;
    height: 400px;
    opacity: 0.88;
}

.trapezoid:before {
    transform: rotateY(12deg);
    transform-origin: 50% 100%;
    border-radius: 0px 50px 50px 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    background: red;
}

.trapezoid-text {
    position: relative;
    text-align: left;
    padding-left: 5px;
    top: 100px;
    z-index: 9999;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;

}

@media (max-width: 1220px) {
    .trapezoid {
        float: left;
        position: absolute;
        top: 13ex;
        left: 14px;
        /*bottom: 100px;*/
        perspective: 200px;
        display: inline-block;
        width: 300px;
        height: 300px;
        opacity: 0.8;
    }

    .trapezoid:before {
        transform: rotateY(12deg);
        transform-origin: 50% 100%;
        border-radius: 0px 50px 50px 0;
        height: 100%;
        width: 100%;
        position: absolute;
        content: '';
        background: red;
    }

    .trapezoid-text {
        position: relative;
        text-align: left;
        padding-left: 10px;
        top: 50px;
        z-index: 9999;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 34px;

    }
}

@media (max-width: 720px) {
    .trapezoid {
        float: left;
        position: absolute;
        top: 10ex;
        left: 0px;
        /*bottom: 100px;*/
        perspective: 200px;
        display: inline-block;
        width: 200px;
        height: 200px;
        opacity: 0.8;
    }

    .trapezoid:before {
        transform: rotateY(12deg);
        transform-origin: 50% 100%;
        border-radius: 0px 25px 25px 0;
        height: 100%;
        width: 100%;
        position: absolute;
        content: '';
        background: red;
    }

    .trapezoid-text {
        position: relative;
        text-align: left;
        padding-left: 10px;
        top: 40px;
        z-index: 9999;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;

    }

}

@media (max-width: 420px) {
    .trapezoid {
        float: left;
        position: absolute;
        top: 5ex;
        left: 0px;
        /*bottom: 100px;*/
        perspective: 200px;
        display: inline-block;
        width: 150px;
        height: 150px;
        opacity: 0.8;
    }

    .trapezoid:before {
        transform: rotateY(12deg);
        transform-origin: 50% 100%;
        border-radius: 0px 19px 19px 0;
        height: 100%;
        width: 100%;
        position: absolute;
        content: '';
        background: red;
    }

    .trapezoid-text {
        position: relative;
        text-align: left;
        padding-left: 10px;
        top: 23px;
        z-index: 9999;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;

    }

}
