language: java
jdk:
- oraclejdk8
services:
- postgresql
addons:
  postgresql: "10.5"
before_script:
- bash ./scripts/install-postgres-10.sh
- psql -c 'create database payment_system;' -U postgres
script:
- mvn clean package
