<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title th:text="#{account.main}"></title>
</head>
<body>
<div class="btn-group">
    <a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>
    <a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>
</div>
<div class="container" th:if="${!cardList.isEmpty()}">
    <div class="card">
        <div class="card-block">
            <div class="table table-hover">
                <table>
                    <thead>
                    <tr>
                        <th><p th:text="#{id}"></p></th>
                        <th><p th:text="#{account.label}"></p></th>
                        <th><p th:text="#{card.isActive}"></p></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="card : ${cardList}">
                        <tr>
                            <td th:text="${card.id}"></td>
                            <td th:text="${card.label}"></td>
                            <td th:text="${card.isActive}"></td>
                            <td th:if="${userLogin == currentUserLogin}">
                                <form th:action="@{${#httpServletRequest.requestURI}+
                                '/card/'+${card.id}+'/blocking/true'}" method="post">
                                    <button type="submit" class="btn btn-danger" th:disabled="${!card.isActive}">
                                        <p th:text="#{user.block}"/>
                                    </button>
                                </form>
                            </td>
                            <td th:if="${userLogin == currentUserLogin}">
                                <form th:action="@{${#httpServletRequest.requestURI}+
                                '/card/'+${card.id}+'/blocking/false'}" method="post">
                                    <button type="submit" class="btn btn-danger" th:disabled="${card.isActive}">
                                        <p th:text="#{user.unblock}"/>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <a th:href="@{${#httpServletRequest.requestURI}+'/history/'+${card.id}}"
                                   class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                                    <p th:text="#{history.button}"/>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:unless="${!cardList.isEmpty()}">
    <p th:text="#{card.empty}"></p>
</div>
<a th:href="@{${#httpServletRequest.requestURI}+'/addCard'}"
   class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
    <p th:text="#{card.create}"></p>
</a>
<a th:href="@{'/operation'}"
   class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
    <p th:text="#{operation.button}"></p>
</a>
</body>
</html>
