<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style/main.css">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <title th:text="#{account.main}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>
            </li>
            <li class="nav-item active">
                <a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/'+${userLogin}}">
                    <p th:text="#{user.page}"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=#><p th:text="#{user.cards}"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><p th:text="#{user.logout}"></p></a>
            </li>
        </ul>
    </div>
</nav>


<!--<div class="btn-group">-->
<!--<a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>-->
<!--<a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>-->
<!--</div>-->

<div class="data" th:if="${!cardList.isEmpty()}">

    <table class="table">
        <thead>
        <tr>
            <th><p th:text="#{id}"></p></th>
            <th><p th:text="#{account.label}"></p></th>
            <th><p th:text="#{card.isActive}"></p></th>
            <th><p th:text="#{card.block}"></p></th>
            <th><p th:text="#{card.unblock}"></p></th>
            <th><p th:text="#{card.history}"></p></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="card : ${cardList}">
            <tr>
                <td th:text="${card.id}"></td>
                <td th:text="${card.label}"></td>
                <td th:text="${card.isActive}"></td>
                <td th:if="${userLogin == currentUserLogin}">
                    <form th:action="@{${#httpServletRequest.requestURI}+
                                '/card/'+${card.id}+'/blocking/true'}" method="post">
                        <button type="submit" class="btn btn-danger" th:disabled="${!card.isActive}">
                            <p th:text="#{user.block}"/>
                        </button>
                    </form>
                </td>
                <td th:if="${userLogin == currentUserLogin}">
                    <form th:action="@{${#httpServletRequest.requestURI}+
                                '/card/'+${card.id}+'/blocking/false'}" method="post">
                        <button type="submit" class="btn btn-danger" th:disabled="${card.isActive}">
                            <p th:text="#{user.unblock}"/>
                        </button>
                    </form>
                </td>
                <td>
                    <a th:href="@{${#httpServletRequest.requestURI}+'/history/'+${card.id}}"
                       class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                        <p th:text="#{history.button}"/>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div class="notifying-message" th:unless="${!cardList.isEmpty()}">
    <p th:text="#{card.empty}"></p>
</div>
<div class="group-buttons">
<a th:href="@{${#httpServletRequest.requestURI}+'/addCard'}"
   class="btn btn-outline-success" role="button" aria-pressed="true">
    <p th:text="#{card.create}"></p>
</a>
    <a th:href="@{${#httpServletRequest.requestURI}+'/operation'}"
       class="btn btn-outline-info" role="button" aria-pressed="true">
        <p th:text="#{operation.button}"></p>
</a>
</div>
</body>
</html>
