<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style/main.css">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>

    <title th:text="#{account.creation}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>
            </li>
            <li class="nav-item active">
                <a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <p th:text="#{main.page}"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/my">
                    <p th:text="#{user.page}"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myCards"><p th:text="#{user.cards}"></p></a>
            </li>
            <li class="nav-item"
                th:if="${!#httpServletRequest.isUserInRole('ADMIN')&&!#httpServletRequest.isUserInRole('BLOCKED')}">
                <a class="nav-link" href="/history"><p th:text="#{history.button}"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><p th:text="#{user.logout}"></p></a>
            </li>
        </ul>
    </div>
</nav>


<div class="content-container">
    <div class="messages-forms-content">
        <h1 th:text="#{account.creation}"/></h1>
        <p th:text="#{account.fillForm}"/>
    </div>
    <form class="messages-forms-content" action="addAccount" method="post" th:object="${accountDto}">
        <div class="form-group">
            <label for="label"><p th:text="#{account.label}"></p></label>
            <input type="text" name="label" class="form-control" id="label" th:field="*{label}"
                   th:placeholder="#{account.label}">
        </div>
        <div class="form-group">
            <label for="amount"><p th:text="#{account.amount}"></p></label>
            <input type="number" min="0" class="form-control" id="amount"
                   th:field="*{amount}" th:placeholder="#{account.amount}">
        </div>
        <button type="submit" class="btn btn-outline-primary"><p th:text="#{account.create}"/></button>
    </form>
</div>
<div class="exception-message">
    <p th:text="${messageException}"></p>
</div>
</body>
</html>