<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title th:text="#{account.addAmount}"></title>
</head>
<body>
<div class="btn-group">
    <a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>
    <a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>
</div>
<form id="addAmount" action="addAmount" method="post">
    <h1><p th:text="#{account.addAmount}"/></h1>
    <!--<p th:text="#{account.fillForm}"/>-->
    <hr>

    <table style="with: 50%">
        <tr>
            <td><label for="amount"><b><p th:text="#{account.amount}"/></b></label></td>
            <td><input type="number" min=1 name="amount" class="form-control input-lg"
                       id="amount" required>
            </td>
        </tr>
    </table>
    <hr>
    <button type="submit" class="btn btn-success"><p th:text="#{account.addAmount}"/></button>
</form>
<!--<div class="alert alert-danger" role="alert">-->
<h1 th:text="${message}"/>
<!--</div>-->
</body>
</html>