<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <title th:text="#{homepage}"></title>
    <style type="text/css">
        #centerLayer {
            margin: 0 25% 0 25%;
            width: 50%; /* Ширина слоя */
            padding: 10px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<div class="btn-group">
    <a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>
    <a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>
</div>
<div id="centerLayer">
    <h1><p th:text="#{user.welcome}"/></h1>
    <a href="registration" class="btn btn-primary btn-light active" role="button" aria-pressed="true">
        <p th:text="#{user.join}"></p>
    </a>
    <a href="logout" class="btn btn-/primary btn-light active" role="button" aria-pressed="true">
        <p th:text="#{user.logout}"></p>
    </a>
    <a th:href="@{${userLogin}}" class="btn btn-primary btn-light active" role="button" aria-pressed="true">
        <p th:text="${#httpServletRequest.isUserInRole('ADMIN')}?#{admin.page}:#{user.page}"></p>
    </a>
    <a th:href="@{'/operation'}" class="btn btn-primary btn-light active" role="button" aria-pressed="true">
        <p th:text="#{operation.button}"></p>
    </a>
    <a th:href="@{'/history'}" class="btn btn-primary btn-light active" role="button" aria-pressed="true">
        <p th:text="#{history.button}"></p>
    </a>
</div>
</body>
</html>