<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Operation</title>
    <style type="text/css">
        #OperationLayer {
            margin: 0 25% 0 25%;
            width: 50%; /* Ширина слоя */
            background: #c3c3c3; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<a href="?lang=en">EN</a> | <a href="?lang=ru">RU</a>
<form id="operationLayer" action="operation" method="post" th:object="${operationDto}">
    <h1><p th:text="#{operation.title}"/></h1>
    <p th:text="#{operation.fillForm}"/>
    <hr>

    <table style="with: 50%">
        <tr>
            <td><label for="src"><b><p th:text="#{operation.source}"/></b></label></td>
            <td><input list="srcCards" name="src" class="form-control input-lg"
                       th:field="*{cardSrcId}" th:placeholder="#{operation.placeholder.source}" id="src" required>
                <datalist id="srcCards">
                    <th:block th:each="srcCard : ${srcCardList}">
                        <option th:value="${srcCard.id}">
                    </th:block>
                </datalist>
            </td>
        </tr>
        <tr>
            <td><label for=><b><p th:text="#{operation.destination}"/></b></label></td>
            <td><input type="text" name="dst" class="form-control input-lg"
                       th:field="*{cardDstId}" th:placeholder="#{operation.placeholder.destination}" id="dst" required></td>
        </tr>
        <tr>
            <td><label for="amount"><b><p th:text="#{operation.amount}"/></b></label></td>
            <td><input type="number" min="1" name="amount" class="form-control input-lg"
                       th:field="*{amount}" th:placeholder="#{operation.placeholder.amount}" id="amount" required>
            </td>
        </tr>
    </table>
    <hr>
    <button type="submit" class="btn btn-success"><p th:text="#{operation.send}"/></button>
</form>
<!--<div class="alert alert-danger" role="alert">-->
    <h1 th:text="${message}"/>
</div>
</body>
</html>
