<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Operation fail page</title>
    <style type="text/css">
        #centerLayer {
            margin: 0 25% 0 25%;
            width: 50%; /* Ширина слоя */
            background: #a3f8e3; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<a href="?lang=en">EN</a> | <a href="?lang=ru">RU</a>
<div id="centerLayer">
    <h1><p th:text = "#{operationFail.information}"/></h1>
    <a href="operation" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        <p th:text = "#{operationFail.repeatOperation}" />
    </a>
    <a href="history" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        <p th:text = "#{operationFail.history}" />
    </a>
</div>
</body>
</html>