<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Registration page</title>
    <style type="text/css">
        #registrationLayer {
            margin: 0 25% 0 25%;
            width: 50%; /* Ширина слоя */
            background: #c3c3c3; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
<a href="?lang=en">EN</a> | <a href="?lang=ru">RU</a>
<form id="registrationLayer" action="addUser" method="post">
    <h1><p th:text="#{user.registration}"/></h1>
    <p th:text="#{user.fillForm}"/>
    <hr>

    <table style="with: 50%">
        <tr>
            <td><label for="login"><b><p th:text="#{user.login}"/></b></label></td>
            <td><input type="text" name="login" class="form-control input-lg"
                       th:placeholder="#{user.placeholder.login}" id="login" required></td>
        </tr>
        <tr>
            <td><label for="name"><b><p th:text="#{user.name}"/></b></label></td>
            <td><input type="text" name="name" class="form-control input-lg"
                       th:placeholder="#{user.placeholder.name}" id="name" required></td>
        </tr>
        <tr>
            <td><label for="password"><b><p th:text="#{user.password}"/></b></label></td>
            <td><input type="password" name="password" class="form-control input-lg"
                       th:placeholder="#{user.placeholder.password}" id="password" required>
            </td>
        </tr>
    </table>
    <hr>
    <button type="submit" class="btn btn-success"><p th:text="#{user.register}"/></button>
</form>
</body>
</html>
