<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style/main.css">

    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <title th:text="#{user.page}"></title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="?lang=en" class="btn btn-link active" role="button" aria-pressed="true">EN</a>
            </li>
            <li class="nav-item active">
                <a href="?lang=ru" class="btn btn-link active" role="button" aria-pressed="true">RU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my">
                    <p th:text="#{user.page}"></p></a>
            </li>
            <li class="nav-item"
                th:if="${!userOnPage.roleStatusEquals('ADMIN')&&!currentUser.roleStatusEquals('BLOCKED')
                &&!#httpServletRequest.isUserInRole('ADMIN')}">
                <a class="nav-link" href=#><p th:text="#{user.cards}"></p></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout"><p th:text="#{user.logout}"></p></a>
            </li>
        </ul>
    </div>
</nav>

<div class="data" th:if="${!userOnPage.roleStatusEquals('ADMIN')&&!currentUser.roleStatusEquals('BLOCKED')}">

    <table th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
        <tr>
            <th>
                <form th:action="@{${userLogin}+'/block'}" method="post">
                    <button type="submit" class="btn btn-danger"
                            th:disabled="${userOnPage.role.roleStatus
                            !=T(com.epam.lab.paymentsystem.entities.enums.Roles).USER}">
                        <p th:text="#{user.block}"/>
                    </button>
                </form>
            </th>
            <th>
                <form th:action="@{${userLogin}+'/unblock'}" method="post">
                    <button type="submit" class="btn btn-danger"
                            th:disabled="${userOnPage.role.roleStatus
                            ==T(com.epam.lab.paymentsystem.entities.enums.Roles).USER}">
                        <p th:text="#{user.unblock}"/>
                    </button>
                </form>
            </th>
        </tr>
    </table>

    <table class="table" th:if="${accountPage.isEmpty()==false}">

        <thead>
        <tr>
            <th><p th:text="#{account.label}"></p></th>
            <th><p th:text="#{account.amount}"></p></th>
            <th><p th:text="#{account.isActive}"></p></th>
            <th><p th:text="${#httpServletRequest.isUserInRole('ADMIN')}?#{account.admin.block}:#{account.view}"></p>
            </th>
            <th><p th:text="${#httpServletRequest.isUserInRole('ADMIN')}?#{account.admin.unblock}:#{account.block}"></p>
            </th>
        </tr>
        </thead>

        <tbody>
        <th:block th:each="account : ${accountPage.content}">
            <tr>
                <td th:text="${account.label}"></td>
                <td th:text="${account.amount}"></td>
                <td th:text="${account.isActive}"></td>
                <td th:if="${#httpServletRequest.isUserInRole('USER')}">
                    <a th:href="@{__${#httpServletRequest.requestURI}__/account/__${account.id}__}">view</a>
                </td>
                <td th:if="${#httpServletRequest.isUserInRole('ADMIN')
                                ||userLogin==currentUser.login}">
                    <form th:action="@{${userLogin}+'/account/'+${account.id}+'/block'}"
                          method="post">
                        <button type="submit" class="btn btn-danger" th:disabled="${!account.isActive}">
                            <p th:text="#{user.block}"/>
                        </button>
                    </form>
                </td>
                <td th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <form th:action="@{${userLogin}+'/account/'+${account.id}+'/unblock'}"
                          method="post">
                        <button type="submit" class="btn btn-danger" th:disabled="${account.isActive}">
                            <p th:text="#{user.unblock}"/>
                        </button>
                    </form>
                </td>
                <td>
                    <a th:href="@{${#httpServletRequest.requestURI}+'/account/'+${account.id}}"
                       class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><p
                            th:text="#{showCard.button}"/></a>
                </td>
                <td>
                    <a th:href="@{${#httpServletRequest.requestURI}+'/account/'+${account.id}+'/history'}"
                       class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><p
                            th:text="#{history.button}"/></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav aria-label="..." th:if="${accountPage.totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, accountPage.totalPages)}">
                <a th:href="@{${#httpServletRequest.requestURI}(user_page=${pageNumber-1})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==accountPage.number + 1} ? active">
                </a>
            </li>
        </ul>
    </nav>
    <div class="create-button"
         th:if="${!userOnPage.roleStatusEquals('ADMIN')&&!currentUser.roleStatusEquals('BLOCKED')}">
        <a th:if="${currentUser.login==userLogin}" th:href="@{${userLogin}+'/addAccount'}"
           class="btn btn-outline-success" role="button" aria-pressed="true">
            <p th:text="#{account.create}"></p></a>
    </div>
</div>
</div>
</div>
</div>
<div class="notifying-message" th:unless="${!accountPage.isEmpty()}">
    <h3 th:text="#{account.notFound}"></h3>
</div>
</div>

<div th:if="${userOnPage.role.roleStatus==T(com.epam.lab.paymentsystem.entities.enums.Roles).ADMIN
&&#httpServletRequest.isUserInRole('ADMIN')==false}"><h1>Poshel von otsudava</h1></div>
<div class="admin-user-data" th:if="${userOnPage.role.roleStatus==T(com.epam.lab.paymentsystem.entities.enums.Roles).ADMIN
&&#httpServletRequest.isUserInRole('ADMIN')}">

    <table class="table">
        <thead>
        <tr>
            <th><p th:text="#{user.login}"></p></th>
            <th><p th:text="#{user.name}"></p></th>
            <th><p th:text="#{user.status}"></p></th>
            <th><p th:text="#{user.view}"></p></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${usersPage.content}">
            <tr>
                <td th:text="${user.login}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.role.roleStatus}"></td>
                <td>
                    <a th:href="@{${user.login}}" class="btn btn-primary btn-lg active"
                       role="button" aria-pressed="true"><p th:text="#{showCard.button}"/>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <nav aria-label="..." th:if="${usersPage.totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, usersPage.totalPages)}">
                <a th:href="@{${#httpServletRequest.requestURI}(admin_page=${pageNumber-1})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==usersPage.number + 1} ? active">
                </a>
            </li>
        </ul>
    </nav>
</div>
<a th:href="@{${userLogin}+'/operation'}"
   class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
    <p th:text="#{operation.button}"></p>
</a>
</body>
</html>
